<div class="tdl-main">
    <div class="tdl-left-side">
        <div class="tdl-header">
            <h1>to-do-list</h1>        
        </div>
        <div class="tdl-gradient-border">
            <div class="tdl-content">

                @if (isLoading()) { 

                    <app-spinner></app-spinner>
                } @else { 
                    <div class="tdl-content-body">
                        <div class="tdl-body-scroll">
                            <ul>
                                @for (item of toDoListTask(); track item.id) {
                                    <li>
                                        <app-todo-item 
                                            [taskName]="item.text"
                                            [isSelect]="selectedItemId() === item.id"
                                            (delTask)="onDelTask(item.id)"
                                            (updateTask)="onUpdateTask($event, item.id)"
                                            (clickTask)="onClickTask(item.id)">
                                        </app-todo-item>
                                    </li>                            
                                }
                            </ul>   
                        </div>
                    </div>
                } 

                <div class="tdl-content-footer">
                    <div class="tdl-footer-top">
                        <div class="tdl-footer-input tdl-gradient-border-inset">
                            <div class="tdl-input-body">                        
                                <input matInput [(ngModel)]="newTaskName">
                            </div>
                        </div>
                        <div class="tdl-footer-actions">
                            <app-button-component 
                                tooltipText="Добавление новой задачи"
                                [type]="buttonType.volume"
                                [disable]="newTaskName() === ''"
                                (clickButton)="onClickAdd()">

                                <img [ngSrc]="img.plus_math" alt="Добавление новой задачи" width="52" height="26">
                            </app-button-component>
                        </div>                        
                    </div>
                    <div class="tdl-footer-bottom">
                        <div class="tdl-footer-input tdl-gradient-border-inset">
                            <div class="tdl-input-body">                        
                                <textarea matInput [(ngModel)]="newTaskDescription"></textarea>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>        
    </div>
    @if (selectedItemId()) {
        <div class="tdl-right-side">
            <div class="tdl-header">     
            </div>
            <div class="tdl-gradient-border">
                <div class="tdl-content">
                    <app-item-description [taskItem]="selectedItem()"></app-item-description>
                </div>
            </div>
        </div>
    }

</div>

