<div class="tdl-main">
    <div class="tdl-header">
        <h1>to-do-list</h1>        
    </div>
    <div class="tdl-gradient-border">
        <div class="tdl-content">
            <div class="tdl-content-title"></div>
            <div class="tdl-content-body">
                <ul>
                    <li>
                        <app-todo-item></app-todo-item>
                    </li>
                    <li>
                        <app-todo-item></app-todo-item>
                    </li>
                    <li>
                        <app-todo-item></app-todo-item>
                    </li>
                </ul>   
            </div>
            <div class="tdl-content-footer">
                <div class="tdl-footer-input tdl-gradient-border-inset">
                    <div class="tdl-input-body">
                        <input>
                    </div>
                </div>
                <div class="tdl-footer-actions">
                    <button>
                        <img [src]="img.plus_math">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

