
.tdi-list-item:hover {
    box-shadow: 0px 0px 3px 0px rgba(84, 116, 133, 0.5);
}

.tdi-list-item {
    display: flex;
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;
    background-color: #eaf3f9;
    align-items: center;
}

.tdi-item-text {
    color: #5f6874;
    font-size: 0.9rem;
    flex: auto;
}

.tdi-item-img {
    display: flex;
}

.tdi-item-img img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}


