
.tdl-list-item:hover {
    box-shadow: 0px 0px 3px 0px rgba(84, 116, 133, 0.5);
}

.tdl-list-item {
    display: flex;
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;
    background-color: #eaf3f9;
    align-items: center;
}

.tdl-item-text {
    color: #5f6874;
    font-size: 0.9rem;
    flex: auto;
}


.tdl-item-img img {
    width: 1.2rem;
    margin-right: 0.5rem;
}

.tdl-item-actions button img{
    width: 1.3rem;
    height: 1.3rem;
}

.tdl-item-actions button:active {
    box-shadow: 0px 0px 5px 0px rgba(84, 116, 133, 0.5) inset !important;
}
.tdl-item-actions button:hover {
    box-shadow: 0px 0px 5px 0px rgba(84, 116, 133, 0.5);
}


.tdl-item-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
