button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;    
}

// button img {
//     width: 1.3rem;
//     height: 1.3rem;
// }

.button-flat {
    &:active {
        box-shadow: 0px 0px 5px 0px rgba(84, 116, 133, 0.5) inset !important;
    }
    &:hover {
        box-shadow: 0px 0px 5px 0px rgba(84, 116, 133, 0.5);
    }
}

.button-disabled {
    opacity: 0.5;
    cursor: auto; 
}


.button-volume {
    background: linear-gradient(131deg, #ffffff, #a9bdc9);
    margin-left: 0.5rem;
    box-shadow: 0px 0px 5px 0px rgba(84, 116, 133, 0.5);
    &:not(.button-disabled):active {
        box-shadow: 0px 0px 5px 0px rgba(84, 116, 133, 0.5) inset !important;
        background: none;
    }
}
